<h1> Success!</h1>
<h2>You have created <%= @name %> the <%= @species %></h2>
<h3><a href="/tamagotchi/new">Add Another Tamagotchi</a></h3>
<h3><a href="/tamagotchis">Visit Tamagotchi Garden</a></h3>
