<h1>Add a tamagotchi</h1>

<form action="/tamagotchis" method="post">
  <div class="form-group">
    <label for="pet_name">Tamagotchi Name</label>
    <input id="pet_name" name="pet_name" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="species">Tamagotchi Species</label>
    <select class="form-control" name="species">
      <option>Fluffy Bunny</option>
      <option>Scary Tiger</option>
      <option>Awkward Turtle</option>
      <option>Waffle</option>
    </select>
  </div>
  <button type="submit" class="btn">Create</button>
</form>
